// Primary palette
$ocean: $color-base-ocean-base;
$ocean-120: $color-base-ocean-120;
$ocean-80: $color-base-ocean-80;
$ocean-60: $color-base-ocean-60;
$ocean-40: $color-base-ocean-40;
$ocean-20: $color-base-ocean-20;
$slate: $color-base-slate-base;
$slate-120: $color-base-slate-120;
$slate-80: $color-base-slate-80;
$slate-60: $color-base-slate-60;
$slate-40: $color-base-slate-40;
$slate-20: $color-base-slate-20;
$mint: $color-base-mint-base;
$mint-120: $color-base-mint-120;
$mint-80: $color-base-mint-80;
$mint-60: $color-base-mint-60;
$mint-40: $color-base-mint-40;
$mint-20: $color-base-mint-20;

// Secondary palette
$strawberry: #f3376b;
$strawberry-120: #e40e49;
$strawberry-80: #f56e94;
$strawberry-60: #faa5bd;
$strawberry-40: #fcdee7;
$strawberry-20: #fff2f6;
$creamsicle: #ff8730;
$creamsicle-120: #f46700;
$creamsicle-80: #ffa869;
$creamsicle-60: #ffbf90;
$creamsicle-40: #ffe1cb;
$creamsicle-20: #fff8f2;
$lavender: #9159fc;
$lavender-120: #73f;
$lavender-80: #aa81fc;
$lavender-60: #c3a7fc;
$lavender-40: #eae0fe;
$lavender-20: #f7f2ff;
$banana: #facf3f;
$banana-120: #deaa00;
$banana-80: #fbd965;
$banana-60: #fce28b;
$banana-40: #fdecb2;
$banana-20: #fff9e6;

// Other
$black: $color-base-black;
$white: $color-base-white;
$transparent: $color-base-transparent;

// Colors
$colors: (
  ocean: $ocean,
  ocean-120:$ocean-120,
  ocean-80: $ocean-80,
  ocean-60: $ocean-60,
  ocean-40: $ocean-40,
  ocean-20: $ocean-20,
  slate: $slate,
  slate-120: $slate-120,
  slate-80: $slate-80,
  slate-60: $slate-60,
  slate-40: $slate-40,
  slate-20: $slate-20,
  mint: $mint,
  mint-120: $mint-120,
  mint-80: $mint-80,
  mint-60: $mint-60,
  mint-40: $mint-40,
  mint-20: $mint-20,
  strawberry: $strawberry,
  strawberry-120: $strawberry-120,
  strawberry-80: $strawberry-80,
  strawberry-60: $strawberry-60,
  strawberry-40: $strawberry-40,
  strawberry-20: $strawberry-20,
  creamsicle: $creamsicle,
  creamsicle-120: $creamsicle-120,
  creamsicle-80: $creamsicle-80,
  creamsicle-60: $creamsicle-60,
  creamsicle-40: $creamsicle-40,
  creamsicle-20: $creamsicle-20,
  lavender: $lavender,
  lavender-120: $lavender-120,
  lavender-80: $lavender-80,
  lavender-60: $lavender-60,
  lavender-40: $lavender-40,
  lavender-20: $lavender-20,
  banana: $banana,
  banana-120: $banana-120,
  banana-80: $banana-80,
  banana-60: $banana-60,
  banana-40: $banana-40,
  banana-20: $banana-20,
  black: $black,
  white: $white,
  transparent: $transparent
);
